name: Test CI

on:
  pull_request:
  push:
    branches: [main, master]
    tags:
      - 'v*'
  workflow_dispatch:

concurrency:
  group: test-ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flutter-test:
    name: flutter-analyze-test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: aero_music_separator

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter Version
        run: flutter --version

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Test
        run: flutter test
